# KNN IMPUTER

In [2]:
import pandas as pd 
import numpy as np
from sklearn.model_selection  import train_test_split
from sklearn.impute import SimpleImputer ,KNNImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [6]:
df =pd.read_csv('dataset\\train.csv' , usecols=['Age','Survived','Fare','Pclass'])

In [7]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [8]:
df.isnull().sum()

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

In [9]:
X =df.drop(columns=['Survived'])
Y =df['Survived']

In [10]:
X_train ,X_test ,Y_train,Y_test =train_test_split(X,Y,test_size=0.2,random_state= 2)

In [23]:
# Knn implementation ----> try the features from doucmenation
knn =KNNImputer(n_neighbors=3,weights='distance')
X_train_trf =knn.fit_transform(X_train)
X_test_trf =knn.transform(X_test)

In [21]:
pd.DataFrame(X_train_trf ,columns=X_train.columns)

     Pclass        Age      Fare
0       1.0  40.000000   27.7208
1       3.0   4.000000   16.7000
2       3.0  47.000000    9.0000
3       3.0   9.000000   31.3875
4       3.0  20.000000    9.8458
..      ...        ...       ...
707     3.0  30.000000    8.6625
708     3.0  26.151292    8.7125
709     1.0  71.000000   49.5042
710     1.0  32.666667  221.7792
711     1.0  49.762895   25.9250

[712 rows x 3 columns]

In [22]:
lr =LogisticRegression()
lr.fit(X_train_trf,Y_train)
y_predict =lr.predict(X_test_trf)

accuracy_score(Y_test,y_predict)

0.7150837988826816

In [26]:
# Comparision with SimpleImputer ---->mean
si =SimpleImputer()
X_train_trf1 =si.fit_transform(X_train)
X_test_trf1 =si.transform(X_test)

In [27]:
lr =LogisticRegression()
lr.fit(X_train_trf1,Y_train)
y_predict1 =lr.predict(X_test_trf1)

accuracy_score(Y_test,y_predict1)

0.6927374301675978